{{!-- This is under the assumption that a department object gets passed into the department directory. --}}
<tr id="index-"{{id}} class="t-row is-fullwidth">
    <td id="selectDirRow"><input type="checkbox" class="deptSelected"><p></p></td>
    <td id="deptIcon"><img src="/img/profileicon.png" id="small_icon"><p></p></td>
    <td id="deptDir"><p>{{name}}</p></td>
    <td id="supName"><p>{{supervisor}}</p></td>
</tr>