  {{!-- Get User info to input in name after Welcome, --}}
  <body>
    <div class="bg-color">
    <nav class="nav py-4" id="home-nav">
        <div class="profile-image">
          <img class="profileImage" src="img/profileicon.png" />
          <button id="log-out" class="logoutBtn button is-size-7 mt-4 has-text-centered is-normal is-responsive is-hovered is-fullwidth has-text-weight-medium">Log Out</button>
        </div>
        <div class="container ml-5" id="nav-text">
          <h1
            class="is-size-1 has-text-white mt-2 mb-0 has-text-left"
          >Welcome,</h1>
          <h1
            class="is-size-1 has-text-left mt-0"
            id="Employee-text"
          >{{user}}</h1>
          <p
            class="is-size-3 has-text-white mt-3 mb-3 has-text-weight-light"
          >Where would you like to navigate?</p>
        </div>
        <div>
          {{!-- <a href="api/employeeprofile/">
            <button class="button mt-4 mr-6" id="view">View Profile</button>
          </a> --}}
        </div>
    </nav>
    </div>
    <div class="spacer m-6 p-1">
        <section class="section" id="lower-body">
            <div class="container py-3 my-auto">
                    <div class="columns">
                        <div class="column mx-6">
                            <div class="card has-text-centered py-6" id="employee-card">
                                <div class="card-image">
                                    <figure class="home-cards image px-6 pb-6">
                                        <img class="image-size m-auto" src="./img/people.png" alt="people">
                                    </figure>
                                </div>
                                <div class="card-content p-0">
                                  <a href="api/employees">
                                    <button class="button" id="button4">View Employees</button>
                                  </a>
                                </div>
                            </div>
                        </div>
                        <div class="column mx-6">
                            <div class="card has-text-centered py-6" id="card-size">
                                <div class="card-image">
                                    <figure class="home-cards image px-6 pb-6">
                                        <img class="image-size m-auto" src="./img/data.png" alt="books">
                                    </figure>
                                </div>
                                <div class="card-content p-0">
                                  <a href="api/departments">
                                    <button class="button" id="button5">View Department</button>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>